[package]
name = "zapret-gtk"
version = "0.1.0"
edition = "2021"

[dependencies]
libadwaita = { version = "0.7", features = ["v1_5"] }
gtk4 = { version = "0.9", features = ["v4_12"] }
sys-locale = "0.3.2"
gettext = "0.4.0"
lazy_static = "1.5.0"

[build-dependencies]
glib-build-tools = "0.21.0"
